[project]
	description = My own framework inspired by symfony 1.4
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/John Marlo Factorin (jmfactorin)
[access "refs/for/refs/*"]
	read = group user/John Marlo Factorin (jmfactorin)
	push = group user/John Marlo Factorin (jmfactorin)
	label-Code-Review = -2..+2 group user/John Marlo Factorin (jmfactorin)
	label-Verified = -1..+1 group user/John Marlo Factorin (jmfactorin)
	rebase = group user/John Marlo Factorin (jmfactorin)
	removeReviewer = group user/John Marlo Factorin (jmfactorin)
	submit = group user/John Marlo Factorin (jmfactorin)
[access "refs/heads/*"]
	read = group user/John Marlo Factorin (jmfactorin)
	create = group user/John Marlo Factorin (jmfactorin)
	push = +force group user/John Marlo Factorin (jmfactorin)
	pushMerge = group user/John Marlo Factorin (jmfactorin)
[access "refs/tags/*"]
	push = +force group user/John Marlo Factorin (jmfactorin)
	pushTag = group user/John Marlo Factorin (jmfactorin)
	pushSignedTag = group user/John Marlo Factorin (jmfactorin)
